.editorconfig export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.scrutinizer.yml export-ignore
.github/ export-ignore
/tests export-ignore
/Vagrantfile export-ignore
phpunit.xml.dist export-ignore
behat.yml export-ignore
composer.lock export-ignore
docker-compose.yml export-ignore
phpcs.xml export-ignore
psalm.xml export-ignore
