/vendor/
.vagrant/
build/
phpunit.xml
.phpunit.result.cache
.phpcs-cache
*.log
codeclimate.json
ocular.phar
ocular.phar*
php-coveralls.phar
php-coveralls.phar*
codeclimate-test-reporter.phar
codeclimate-test-reporter.phar*
composer.phar
